.logo{
    width: 6rem;
    height: 6rem;
    margin-left: 3rem;
    margin-right: 5rem;
}
.facture{
    text-align: center;
}
.entete-body{
    margin-top: 5rem;
    text-align: center;
}
.decret{
    margin-left: 3rem;
}
section.niveau2{
    text-align: center;
}
.datres{
    margin-left: 15.7rem;
}